$primary-midnightblue: #003865;
$primary-magenta: #e10098;
$primary-robinseggblue: #00c1d5;
$primary-mistgrey: #babbb1;

$secondary-electriclime: #d0df00;
$secondary-internatorange: #7AC943;
$secondary-weborange: #f2A900;
$secondary-daisybushpurple: #5f259f;
$secondary-abbeygrey: #4b4f54;

/***************************/
$icon-screen-green: rgb(146, 212, 146);

/*************************************/
$calBorderRad: 6px;
/********** STYLECODE VARS ********/
$gameClass: #9096f8;

/**********STYLECODE VARS**********/

:root {
    --primary-color: rgba(143, 143, 143, 0.3);
    --secondary-color: rgba(16, 104, 63, 0.5);
    --power: #27EFF0;
    --base-btn-color: #f0ebe8;
    --power-off-trim: #01c7c7;
    --power-off: #82afaf;
    --power-on: #00fff2;
    --power-on-glow: rgba(169, 255, 241, 0.7);
    --power-on-active: rgb(69, 238, 210);
    --power-trim: rgb(155, 150, 150);
    --btn-edge: #e0ddd6;

    --text-primaryA: #745959;
    --text-primary: #715657;
    
    --inc-light-off: rgb(218, 193, 171);
    --inc-light-off-stroke: #f5efe0;
    --inc-light-on: rgb(255, 157, 71);
    --inc-light-on-stroke: rgb(139, 84, 39);
    --inc-light-glow: rgb(255, 157, 65);
    
}

.test {
    st4{fill:#4b3814;
        fill:#8a857c;
        fill: #f0ebe8;
        fill: rgba(238, 214, 214, 0.712);
        fill:  rgba(185, 167, 146, 0.883);
        fill: rgba(144, 144, 144, 0.787);
    }
}

