.top-img, .bot-img {
  position: absolute;
  width: 30vw;
  height: 13vh;
  transform: skew(0deg, 0deg) rotateX(46deg);
  // filter: invert(100%);
}
.top-img {
top: 1vh;
left: 4.5vw;
transform: skew(0deg, 0deg) rotateX(41deg);
filter: drop-shadow(6px 22px 2px rgba(0,0,0,0.3));
#test1 {
  // stroke: #fff;
  //   stroke-width:5;
  overflow: visible;
}

}
.bot-img {
  top: 6vh;
  right: 5vw;
  rect {
    stroke-dasharray: 40 20;
    stroke: #fff;
    stroke-width:3;
    fill: #000;
    fill-opacity: 0.4;
  }
}

@keyframes effect-anim {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.effect-animating-img {
  stroke-dasharray: 40 20;
  stroke: #fff;
  stroke-width:5;
  // display: none;
  // filter:  hue(50%);
}