


  /* fugaz-one-regular - latin */
/* @font-face {
    font-family: 'Fugaz One';
    font-style: normal;
    font-weight: normal; */
    /* src: local('Fugaz One'), local('FugazOne-Regular'), */
         /* url('./fugaz-one-regular.woff2') format('woff2'), Super Modern Browsers */
         /* url('./fugaz-one-regular.woff') format('woff'); Modern Browsers */
          /* url('./fugaz-one-regular.ttf') format('truetype'); */
         /*url('../fonts/fugaz-one-v9-latin-regular.svg#FugazOne') format('svg'); Legacy iOS */
  /* } */