.mode-dir-container {
display: grid;
place-items: center;
}

.title {
    font-weight: 100;
    font-size: 5rem;
    margin: 12vh 2vw;
    color: #eee;
}
h3, h4, p, sup{
     text-align: left;
}

h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 500;
    color: #444;
}

p {
    width: 90%;
    margin-left: 2vw;
    font-weight: 300;
    font-size: 2rem;

}